body {
    background-color: #6ca072;/* Color del fondo de la pagina*/
    margin: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: hsl(214, 49%, 31%); /El color del fondo del formulario/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: hwb(206 38% 26%); /color del boton/
    color: white;
    border: none;
    cursor: pointer;
}